<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Functions</title>
</head>
<body>


    <form action="" method="post">
        <p>
	    <label for="func">Function</label>
	    <input type="text" name="func">
	</p>
	<p>
	    <label for="params">Params</label>
	    <input type="text" name="params">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>